body{
    font-family: Latin-Modern-Roman;
    background-color: rgb(240, 121, 65);
}
h1{
    color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin: 20px 50px 5px;
}
h2 {
    text-align: center;
    color: orangered;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 2px;
}
h3{
    color: lightyellow;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}

hr{
    margin: 20px 0px;
}


details{
    margin: 10px;
    padding: 20px;
    border: 1px solid orangered;
    border-radius: 15px;
}
summary{
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

picture{
    margin: 20px 10px;
}

/* Text  */
/* font family */
@font-face {
  font-family: Staatliches;
  src: url('Staatliches-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Latin-Modern-Roman;
  src: url("Latin-Modern-Roman/lmroman10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmroman10-italic.otf") format("opentype"),
       url("Latin-Modern-Roman/lmroman10-bold.otf") format("opentype"),
       url("Latin-Modern-Roman/lmroman10-bolditalic.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromancaps10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromancaps10-oblique.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandemi10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandemi10-oblique.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandunh10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandunh10-oblique.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromanslant10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromanslant10-bold.otf") format("opentype");

}

header{
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    position: fixed;
    top: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}


nav a{
    color: white;
    text-align: center;
    padding: 18px 15px;
    text-decoration: none;
    vertical-align: middle;
    flex-basis: 150px;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: orangered;
}

nav a.active {
    background-color: lightgoldenrodyellow;
    color: orangered;
}

nav a.title{
    flex-basis: 25%;
    pointer-events: none;
}
  

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
}
  
/* Style the sidenav links and the dropdown button */
.sidenav a, .avatar-block {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.avatar-icon {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    margin-left: 12%;
}

/* On mouse-over */
.sidenav a:hover, .avatar-block:hover {
    color: #f1f1f1;
}
 
.dropdown-menu {
    display: none;
    background-color: #262626;
    padding-left: 5px;
}

.dropdown-menu a{
    font-size: 16px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: orangered;
    color: white;
}


main.main-side{
    width: 80%;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    
    margin-top: 20px;
    margin-left: 180px; 

    text-align: left;

    font-size: 18px;
    padding: 10px 40px;
}

#load-time-container{
    text-align: center;
    display: inline-block;
}

main.main-side figure{
    width: 100%;
    background-color: lightyellow;
    text-align: center;

    padding: 10px 20px;
    border-radius: 10px;
}

main.main-side ul,ol{
    margin: 0 40%;
}

.flexbox .intro{
    height: 20em;
    margin: 20px 10px;

    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;

    border-radius: 20px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
}

.flexbox .side-column{
  flex-basis:  100px;
  flex-grow: 1;
  text-align: center;
  
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background-color: coral;
}

.flexbox .main-column{
    flex-basis: 200px;
    flex-grow: 3;
  
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: lightyellow;
    text-align: left;
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}