body{
    font-family: Latin-Modern-Roman;
    background-color: rgb(240, 121, 65);
}
h1{
    color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin: 20px 50px 5px;
}
h2 {
    text-align: center;
    color: orangered;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
h3{
    text-align: center;
    color: lightyellow;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
h4{
    text-align: center;
}

hr{
    margin: 20px 0px;
}


picture{
    margin: 20px 10px;
}

button{
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding:0;

}

/* Text  */
/* font family */
@font-face {
  font-family: Staatliches;
  src: url('Staatliches-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Latin-Modern-Roman;
  src: url("Latin-Modern-Roman/lmroman10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmroman10-italic.otf") format("opentype"),
       url("Latin-Modern-Roman/lmroman10-bold.otf") format("opentype"),
       url("Latin-Modern-Roman/lmroman10-bolditalic.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromancaps10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromancaps10-oblique.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandemi10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandemi10-oblique.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandunh10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromandunh10-oblique.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromanslant10-regular.otf") format("opentype"),
       url("Latin-Modern-Roman/lmromanslant10-bold.otf") format("opentype");

}

header{
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    position: fixed;
    top: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}


nav a{
    color: white;
    text-align: center;
    padding: 18px 15px;
    text-decoration: none;
    vertical-align: middle;
    flex-basis: 150px;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: orangered;
}

nav a.active {
    background-color: lightgoldenrodyellow;
    color: orangered;
}

nav a.title{
    flex-basis: 25%;
    pointer-events: none;
}
  

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
}
  
/* Style the sidenav links and the dropdown button */
.sidenav a, .avatar-block {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.avatar-block:hover{
    background-color: orangered;
}

.avatar-icon {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    margin-left: 12%;
}

/* On mouse-over */
.sidenav a:hover {
    color: #f1f1f1;
}
 
.dropdown-menu {
    display: none;
    background-color: #262626;
    padding-left: 5px;
}

.dropdown-menu a{
    font-size: 16px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: orangered;
    color: white;
}


main.main-side{
    width: 80%;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    
    margin-top: 20px;
    margin-left: 180px; 

    text-align: left;

    font-size: 18px;
    padding: 10px 40px;
}

#load-time-container{
    text-align: center;
    display: inline-block;
}

main.main-side figure{
    width: 100%;
    background-color: lightyellow;
    text-align: center;

    padding: 10px 20px;
    border-radius: 10px;
}

main.main-side ul,ol{
    margin: 0 40%;
}

.flexbox .intro{
    height: 20em;
    margin: 20px 10px;

    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;

    border-radius: 20px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
}

.flexbox .left-side-column{
  flex-basis:  100px;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;

  padding: 30px 10px;
  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background-color: coral;
}

.flexbox .main-column{
    flex-basis: 200px;
    flex-grow: 2;
    flex-shrink: 1;
  
    padding: 10px 10px;

    background-color: lightyellow;
    text-align: center;
}

.flexbox .right-side-column{
    flex-basis: 100px;
    flex-grow: 1.5;

    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: lightsalmon;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

div.user-form{
    padding: 0px 12%;
}

.grid-3-3{
    display: grid;
    grid-template-columns: 25% 45% 25%;
    grid-template-rows: 50px 50px 50px; 
    grid-column-gap: 2%;
    grid-row-gap: 10px;

    grid-template-areas: 
    "label1 field1 button1"
    "label2 field2 button2"
    "label3 field3 button3";

    grid-auto-flow: row;
}

.grid-3-3 .label{
    font-size: 20px;
    justify-self: end;
    align-self: end;
}

.grid-3-3 .editable{
    justify-self: stretch;
    align-self: end;

    padding-bottom: 2px;
    padding-left: 2px;

    border: none;
    border-bottom:  2px lightsalmon solid;

    font-family: 'Latin-Modern-Roman', serif;
    font-size: 20px;
}

.grid-3-3 button{
    justify-self: stretch;

    padding: 0px 5px;
    border:  2px gray solid;
    border-radius: 5px;

    font-family: 'Latin-Modern-Roman', serif;
    font-size: 20px;
}

div.submit-button, div.manage-user{
    height: 50px;
    margin-top: 20px;
}

button#user-update{
    margin-left: 56%;
    padding: 0px 5px;
    vertical-align: center;
    
    background-color: lightsalmon;
    border:  2px gray solid;
    border-radius: 3px;
    
    width: 120px;
    height: 40px;

    font-family: 'Latin-Modern-Roman', serif;
    font-size: large;
}

.submit-button a{
    float:left;
}

.submit-button a.success{
    color: green;
}

.submit-button a.fail{
    color: red;
}

button#enter-admin{
    vertical-align: middle;
    
    background-color: lightyellow;
    border:  2px gray solid;
    border-radius: 3px;
    
    width: 150px;
    height: 40px;

    font-family: 'Latin-Modern-Roman', serif;
    font-size: large;
}

.right-button-container{
    text-align: right;
}

button#user-submit{
    text-align: middle;
    
    background-color: lightsalmon;
    border:  2px gray solid;
    border-radius: 3px;
    
    width: 180px;
    height: 40px;

    font-family: 'Latin-Modern-Roman', serif;
    font-size: large;
}
form{
    margin: 50px;
    color: lightgoldenrodyellow;
}

form div{
    margin: 5px 5%;
}

form label,p,legend{
    margin: 5px;
    font-family: 'Latin-Modern-Roman', serif;
    font-size: 24px;
}

form input{
    margin: 5px;
    padding: 0px 5px;
    border: none;
    border-bottom: 2px gray solid;
    width: 200px;
    height: 30px;
    font-family: 'R', serif;
    font-size: large;
}

select{
    height: 50px;
    font-size: 36px;
    text-align: center;
}
option{
    height: 50px;
    font-size: 36px;
    text-align: center;
}

form input[type="submit"], form button{
    margin-left: 750px;
    padding: 0px 5px;
    border:  2px gray solid;
    width: 150px;
    height: 30px;
    font-family: 'Latin-Modern-Roman', serif;
    font-size: large;
}